@model ServerlessCarRent.WebSite.Models.CarsController.DetailsViewModel

@{
    ViewData["Title"] = $"Car : {Model.Plate}";
}
<h1>Car Details</h1>
<br />
<div>
    <h2>Plate: @Model.Plate</h2>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PickupLocation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PickupLocation)&nbsp;&nbsp;
            <a href="@Url.ActionLink("Details","PickupLocations",new { id=Model.PickupLocation})">
                <img src="~/images/DetailPickupLocation.png" height="32" alt="Pickup Location details" title="Pickup Location details" />
            </a>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentState)
        </dt>
        <dd class="col-sm-10">
            @switch (Model.CurrentState)
            {
                case ServerlessCarRent.Common.Models.Car.CarState.Working:
                    <img src="~/images/CarState-Working-64.png" height="32" alt="@Model.CurrentState" title="@Model.CurrentState" />
                    break;
                case ServerlessCarRent.Common.Models.Car.CarState.UnderMaintenance:
                    <img src="~/images/CarState-UnderMaintenance-64.png" height="32" alt="@Model.CurrentState" title="@Model.CurrentState" />
                    break;
                case ServerlessCarRent.Common.Models.Car.CarState.Unusable:
                default:
                    <img src="~/images/CarState-Unusable-64.png" height="32" alt="@Model.CurrentState" title="@Model.CurrentState" />
                    break;
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentRentalState)
        </dt>
        <dd class="col-sm-10">
            @switch (Model.CurrentRentalState)
            {
                case ServerlessCarRent.Common.Models.CarRental.CarRentalState.Free:
                    <img src="~/images/RentalState-Free-64.png" height="32" alt="@Model.CurrentRentalState" title="@Model.CurrentRentalState" />
                    break;
                case ServerlessCarRent.Common.Models.CarRental.CarRentalState.Rented:
                    <img src="~/images/RentalState-Rented-64.png" height="32" alt="@Model.CurrentRentalState" title="@Model.CurrentRentalState" />
                    break;
                case ServerlessCarRent.Common.Models.CarRental.CarRentalState.Booked:
                case ServerlessCarRent.Common.Models.CarRental.CarRentalState.Unknown:
                default:
                    <img src="~/images/RentalState-Unknown-64.png" height="32" alt="@Model.CurrentRentalState" title="@Model.CurrentRentalState" />
                    break;
            }
        </dd>
        @if (Model.CurrentRentalState == ServerlessCarRent.Common.Models.CarRental.CarRentalState.Rented)
        {
            <dt class="col-sm-2">
                Current renter
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CurrentRenterLastName)&nbsp;@Html.DisplayFor(model => model.CurrentRenterFirstName)
                <br />
                @Html.DisplayFor(model => model.CurrentRenterEmail)
            </dd>
        }
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CostPerHour)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CostPerHour) @Html.DisplayFor(model => model.Currency)
        </dd>
    </dl>
</div>
<div class="accordion col-10 offset-1" id="carRentals">
    <div class="card">
        <div class="card-header" id="accessKeys">
            <h5 class="mb-0">
                <button class="btn btn-block text-left collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <h5>Rental History</h5>
                </button>
            </h5>
        </div>

        <div id="collapseOne" class="collapse" aria-labelledby="accessKeys" data-bs-parent="#carRentals">
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Start date
                            </th>
                            <th>
                                End date
                            </th>
                            <th>
                                Renter
                            </th>
                            <th>
                                Total cost
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var rental in Model.Rentals.OrderByDescending(r => r.RentalStart))
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => rental.RentalStart)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => rental.RentalEnd)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => rental.RenterLastName)&nbsp;@Html.DisplayFor(modelItem => rental.RenterFirstName)
                                    <br />
                                    @Html.DisplayFor(modelItem => rental.RenterEmail)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => rental.Cost)&nbsp;@Html.DisplayFor(modelItem => rental.Currency)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<div>
    <a href="@Url.ActionLink("Edit","Cars",new { plate=Model.Plate})" class="color: inherit;">
        <img src="~/images/EditCar.png" height="50" alt="Edit car" title="Edit Car" />
    </a>
    &nbsp;&nbsp;
    @if (Model.CurrentRentalState == ServerlessCarRent.Common.Models.CarRental.CarRentalState.Free)
    {
        <a href="@Url.ActionLink("Rent","Rentals",new { plate=Model.Plate,location=Model.PickupLocation,returnAction="index",returnController="cars"})">
            <img src="~/images/RentCar.png" height="50" alt="Rent the car" title="Rent the car" />
        </a>
    }
    @if (Model.CurrentRentalState == ServerlessCarRent.Common.Models.CarRental.CarRentalState.Rented)
    {
        <a href="@Url.ActionLink("Return","Rentals",new { plate=Model.Plate,returnAction="index",returnController="cars"})">
            <img src="~/images/ReturnCar.png" height="50" alt="Return the car" title="Return the car" />
        </a>
    }
</div>
