@model ServerlessCarRent.WebSite.Models.CarsController.IndexViewModel

@{
    ViewData["Title"] = "Cars management";
}

<h1>Cars Management</h1>
<br />
<div class="border rounded">
    <br />
    <form>
        <div class="row">
            <div class="col-3 offset-1">
                <label for="plateFilter">Plate</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="plateFilter" name="plateFilter" placeholder="plate" value="@Model.PlateFilter">
                </div>
            </div>
            <div class="col-4">
                <label for="modelFilter">Model</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="modelFilter" name="modelFilter" placeholder="model" value="@Model.ModelFilter">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6 offset-1">
                <label for="locationFilter">Location</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="locationFilter" name="locationFilter" placeholder="location" value="@Model.LocationFilter">
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-10 offset-1 border rounded">
                <label for="carStateFilter">Car state</label>
                <div class="input-group" id="carStateFilter">
                    <label class="checkbox-inline offset-1 col-2">
                        @Html.CheckBoxFor(model=>Model.CarWorking) Working
                    </label>
                    <label class="checkbox-inline col-2">
                        @Html.CheckBoxFor(model=>Model.CarUnusable) Unusable
                    </label>
                    <label class="checkbox-inline col-2">
                        @Html.CheckBoxFor(model=>Model.CarUnderMaintenance) Under Maintenance
                    </label>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-10 offset-1 border rounded">
                <label for="rentalStateFilter">Rental state</label>
                <div class="input-group" id="rentalStateFilter">
                    <label class="checkbox-inline offset-1 col-2">
                        @Html.CheckBoxFor(model=>Model.CarRentFree) Free
                    </label>
                    <label class="checkbox-inline col-2">
                        @Html.CheckBoxFor(model=>Model.CarRentRented) Rented
                    </label>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="offset-1 col-10">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </div>
    </form>
    <br />
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Plate
            </th>
            <th>
                Model
            </th>
            <th>
                Location
            </th>
            <th>
                Status
            </th>
            <th>
                Rental Status
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var car in Model.Cars)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => car.Plate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => car.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => car.PickupLocation)
                </td>
                <td>
                    @switch (car.CurrentStatus)
                    {
                        case ServerlessCarRent.Common.Models.Car.CarState.Working:
                            <img src="~/images/CarState-Working-64.png" height="32" alt="@car.CurrentStatus" title="@car.CurrentStatus" />
                            break;
                        case ServerlessCarRent.Common.Models.Car.CarState.UnderMaintenance:
                            <img src="~/images/CarState-UnderMaintenance-64.png" height="32" alt="@car.CurrentStatus" title="@car.CurrentStatus" />
                            break;
                        case ServerlessCarRent.Common.Models.Car.CarState.Unusable:
                        default:
                            <img src="~/images/CarState-Unusable-64.png" height="32" alt="@car.CurrentStatus" title="@car.CurrentStatus" />
                            break;
                    }
                </td>
                <td>
                    @switch (car.CurrentRentalStatus)
                    {
                        case ServerlessCarRent.Common.Models.CarRental.CarRentalState.Free:
                            <img src="~/images/RentalState-Free-64.png" height="32" alt="@car.CurrentRentalStatus" title="@car.CurrentRentalStatus" />
                            break;
                        case ServerlessCarRent.Common.Models.CarRental.CarRentalState.Rented:
                            <img src="~/images/RentalState-Rented-64.png" height="32" alt="@car.CurrentRentalStatus" title="@car.CurrentRentalStatus" />
                            break;
                        case ServerlessCarRent.Common.Models.CarRental.CarRentalState.Booked:
                        case ServerlessCarRent.Common.Models.CarRental.CarRentalState.Unknown:
                        default:
                            <img src="~/images/RentalState-Unknown-64.png" height="32" alt="@car.CurrentRentalStatus" title="@car.CurrentRentalStatus" />
                            break;
                    }
                </td>
                <td>
                    <a href="@Url.ActionLink("Edit","Cars",new { plate=car.Plate})">
                        <img src="~/images/EditCar.png" height="32" alt="Edit car" title="Edit Car" />
                    </a>
                    <a href="@Url.ActionLink("Details","Cars",new { plate=car.Plate})">
                        <img src="~/images/DetailCar.png" height="32" alt="Car details" title="Car details" />
                    </a>
                </td>
                <td>
                    @if (car.CurrentRentalStatus == ServerlessCarRent.Common.Models.CarRental.CarRentalState.Free)
                    {
                        <a href="@Url.ActionLink("Rent","Rentals",new { plate=car.Plate,location=car.PickupLocation,returnAction="index",returnController="cars"})">
                            <img src="~/images/RentCar.png" height="32" alt="Rent the car" title="Rent the car" />
                        </a>
                    }
                    @if (car.CurrentRentalStatus == ServerlessCarRent.Common.Models.CarRental.CarRentalState.Rented)
                    {
                        <a href="@Url.ActionLink("Return","Rentals",new { plate=car.Plate,returnAction="index",returnController="cars"})">
                            <img src="~/images/ReturnCar.png" height="32" alt="Return the car" title="Return the car" />
                        </a>
                    }
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="7">
                <a asp-action="Create"><img src="~/images/CreateCar.png" height="50" alt="Create a new car" title="Create a new car" /></a>
            </td>
        </tr>
    </tfoot>
</table>
