@model ServerlessCarRent.WebSite.Models.CarsController.IndexViewModel

@{
    ViewData["Title"] = "Cars management";
}

<h1>Cars Management</h1>

<p>
    <a asp-action="Create"><img src="~/images/CreateCar.png" height="50" alt="Create a new car" title="Create a new car" /></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Plate
            </th>
            <th>
                Model
            </th>
            <th>
                Location
            </th>
            <th>
                Status
            </th>
            <th>
                Rental Status
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var car in Model.Cars)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => car.Plate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => car.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => car.PickupLocation)
                </td>
                <td>
                    @switch (car.CurrentStatus)
                    {
                        case ServerlessCarRent.Common.Models.Car.CarState.Working:
                            <img src="~/images/CarState-Working-64.png" height="32" alt="@car.CurrentStatus" title="@car.CurrentStatus" />
                            break;
                        case ServerlessCarRent.Common.Models.Car.CarState.UnderMaintenance:
                            <img src="~/images/CarState-UnderMaintenance-64.png" height="32" alt="@car.CurrentStatus" title="@car.CurrentStatus" />
                            break;
                        case ServerlessCarRent.Common.Models.Car.CarState.Unusable:
                        default:
                            <img src="~/images/CarState-Unusable-64.png" height="32" alt="@car.CurrentStatus" title="@car.CurrentStatus" />
                            break;
                    }
                </td>
                <td>
                    @switch (car.CurrentRentalStatus)
                    {
                        case ServerlessCarRent.Common.Models.CarRental.CarRentalState.Free:
                            <img src="~/images/RentalState-Free-64.png" height="32" alt="@car.CurrentRentalStatus" title="@car.CurrentRentalStatus" />
                            break;
                        case ServerlessCarRent.Common.Models.CarRental.CarRentalState.Rented:
                            <img src="~/images/RentalState-Rented-64.png" height="32" alt="@car.CurrentRentalStatus" title="@car.CurrentRentalStatus" />
                            break;
                        case ServerlessCarRent.Common.Models.CarRental.CarRentalState.Booked:
                        case ServerlessCarRent.Common.Models.CarRental.CarRentalState.Unknown:
                        default:
                            <img src="~/images/RentalState-Unknown-64.png" height="32" alt="@car.CurrentRentalStatus" title="@car.CurrentRentalStatus" />
                            break;
                    }
                </td>
                <td>
                    <a href="@Url.ActionLink("Edit","Cars",new { plate=car.Plate})">
                        <img src="~/images/EditCar.png" height="32" alt="Edit car" title="Edit Car" />
                    </a>
                    <a href="@Url.ActionLink("Details","Cars",new { plate=car.Plate})">
                        <img src="~/images/DetailCar.png" height="32" alt="Car details" title="Car details" />
                    </a>
                </td>
                <td>
                    @if (car.CurrentRentalStatus == ServerlessCarRent.Common.Models.CarRental.CarRentalState.Free)
                    {
                        <a href="@Url.ActionLink("Rent","Rentals",new { plate=car.Plate,location=car.PickupLocation,returnAction="index",returnController="cars"})">
                            <img src="~/images/RentCar.png" height="32" alt="Rent the car" title="Rent the car" />
                        </a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
