@model ServerlessCarRent.WebSite.Models.PickupLocationsController.IndexViewModel

@{
    ViewData["Title"] = "Pickup Locations management";
}

<h1>Pickup Locations Management</h1>
<br />
<div class="border rounded">
    <br />
    <form>
        <div class="row">
            <div class="col-6 offset-1">
                <label for="identifierFilter">Location id</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="identifierFilter" name="identifierFilter" placeholder="id" value="@Model.IdentifierFilter">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4 offset-1">
                <label for="cityFilter">City</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="cityFilter" name="cityFilter" placeholder="city" value="@Model.CityFilter">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6 offset-1">
                <label for="locationFilter">Location</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="locationFilter" name="locationFilter" placeholder="location" value="@Model.LocationFilter">
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-10 offset-1 border rounded">
                <label for="locationStateFilter">Location state</label>
                <div class="input-group" id="locationStateFilter">
                    <label class="checkbox-inline offset-1 col-2">
                        @Html.CheckBoxFor(model=>Model.LocationOpenFilter) Open
                    </label>
                    <label class="checkbox-inline col-2">
                        @Html.CheckBoxFor(model=>Model.LocationClosedFilter) Closed
                    </label>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="offset-1 col-10">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </div>
    </form>
    <br />
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Location Id
            </th>
            <th>
                City
            </th>
            <th>
                Description
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var location in Model.PickupLocations)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => location.Identifier)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => location.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => location.Location)
                </td>
                <td>
                    @switch (location.CurrentStatus)
                    {
                        case ServerlessCarRent.Common.Models.PickupLocation.PickupLocationState.Open:
                            <img src="~/images/LocationState-Open-64.png" height="32" alt="@location.CurrentStatus" title="@location.CurrentStatus" />
                            break;
                        case ServerlessCarRent.Common.Models.PickupLocation.PickupLocationState.Closed:
                            <img src="~/images/LocationState-Closed-64.png" height="32" alt="@location.CurrentStatus" title="@location.CurrentStatus" />
                            break;
                        default:
                            <img src="~/images/LocationState-Closed-64.png" height="32" alt="@location.CurrentStatus" title="@location.CurrentStatus" />
                            break;
                    }
                </td>
                <td>
                    <a href="@Url.ActionLink("Edit","PickupLocations",new { id=location.Identifier})" >
                        <img src="~/images/EditPickupLocation.png" height="32" alt="Edit pickup location" title="Edit pickup location" />
                    </a>
                    <a href="@Url.ActionLink("Details","PickupLocations",new { id=location.Identifier})" >
                        <img src="~/images/DetailPickupLocation.png" height="32" alt="Pickup Location details" title="Pickup Location details" />
                    </a>
                </td>
            </tr>
        }
    </tbody>
        <tfoot>
        <tr>
            <td colspan="5">
                <a asp-action="Create"><img src="~/images/CreatePickupLocation.png" height="50" alt="Create a new pickup location" title="Create a new pickup location" /></a>
            </td>
        </tr>
    </tfoot>
</table>
